[2016-05-06 22:59] devnes opened #1 "No such file or directory"
QtAutoUpdater/qtautoupdater.pri: No such file or directory

[2016-05-07 09:00] Skycoder42 commented on #1
You will have to dowload one of the release packages. The pri is included there. But I can see I forgot to add it to the repository.

Please note that you have to build the libraries for the pri to work.

[2016-05-07 09:04] #1 closed, assigned to Skycoder42

[2016-05-07 09:05] Skycoder42 commented on #1
I added the pri to the project. After you built it, adjust the paths in there or take the references you need. Hope this fixes the problem for you.

[2016-05-10 22:30] devnes opened #2 "Adminauthorization does not work"
Qt 5.6:
MAC OSX El Capitan:
AutoUpdaterGui/adminauthorization_mac.cpp:75: Warning: 'AuthorizationExecuteWithPrivileges' is deprecated: first deprecated in OS X 10.7 [-Wdeprecated-declarations]
    status = AuthorizationExecuteWithPrivileges(authorizationRef, utf8Program.data(),

![2016-05-11 01 19 22](https://cloud.githubusercontent.com/assets/5395316/15164280/7eea8178-1716-11e6-86b7-54d9fe420a82.

[2016-05-10 23:45] devnes opened #3 "updatescheduler.cpp maintenancetool path error"
File updatescheduler.cpp has error in line 7:
# define TOOL_PATH QStringLiteral("../../maintenancetool");

right for osx will be:
# define TOOL_PATH QStringLiteral("../../../maintenancetool");

[2016-05-11 08:09] Skycoder42 commented on #2
The decrepated warning should not be a problem, because it still works (at least on my machine...) Both errors are linker errors.

If you build as static library, no linking is required, thus I did not add the references. If you want to create a dll (and I suppose thats what you are doing), just add the libraries for each platform you can find in the qtautoupdater.pri file. Those are:
https://gith

[2016-05-11 08:15] Skycoder42 commented on #3
It depends on how you are using it.

Package structure: `MyApp.app/Contents/MacOS/MyApp`

If I use the first one, the path will be `MyApp.app/maintenancetool`. This is what I think is right, because on OsX you have the `MyApp.app` as "stand alone app", thus everything it uses should be inside of the `.app` folder. But if you want to use another path, just use the constructor with your custom path.

[2016-05-11 08:15] #3 closed, assigned to nobody

[2016-05-20 07:36] Skycoder42 commented on #2
Was the Problem solved with this? If yes, I am going to close this issue.

[2016-05-24 12:22] #2 closed, assigned to Skycoder42

[2016-12-29 14:41] tigranpetrosyan opened #4 "Can't use your code"
Hi Skycoder42,

I have connected your library to my project. but when I call your code (maintenancetool) it does not work.

This is what I get:
Has updates: false
Has errors: true

Can you help me with this? Or can you let me know what the reason is that it won't allow me to call the code within the function?

Inside my apps main tool the maintenancetoo manual code works correctly.

[2016-12-29 15:07] Skycoder42 commented on #4
Without more information I'm afraid I can't help you much. However, the following steps may help to identify the problem:

- Extended Error information. You can get it from the Updater. (If you're using the UpdateController, you can get a reference to the updater via `controller->updater();`
  - Use `Updater::exitedNormally` to find out, whether the maintenance tool crashed or not
  - `Updater::er

[2017-01-15 09:39] Skycoder42 commented on #4
Have I been able to help you? If yes, please close this issue :)

[2017-02-03 09:40] #4 closed, assigned to Skycoder42

[2017-02-13 13:53] zack-snyder opened #5 "Please use Qt coding rules for better import of the library"
That means an Qt include should go like:
[code]
instead of:
[code]

use the macros: `Q_SIGNALS:`, `Q_SLOTS` instead of `signals` and `slots`

I would personally also don't user `qoverload` in order to be compatible with older Qt versions, e.g. 5.6

[2017-02-13 19:50] Skycoder42 commented on #5
If you want to, you can create a pull request with your suggested changes for the includes and macros. As for now, I personally don't think it's that important for most usecases. But since I am planning to release the updater as a Qt Module, it's something I would do then. However, it may take some time until that happens.

Regarding the `QOverload` - I don't give much about backwards compability.

[2017-03-13 16:54] #5 closed, assigned to Skycoder42

[2017-05-09 11:35] julian-poidevin opened #6 "Error while installing module with Qt 5.8.0-1"
When trying to install **QtAutoUpdater** module with **MaintenanceTool**, the following message appers :

![capture](https://cloud.githubusercontent.com/assets/8756421/25848819/52a40e80-34bc-11e7-8cda-7bce22439cb0.PNG)

Should I try running on an other compiler or version of Qt ?

Thanks.

[2017-05-09 12:20] Skycoder42 commented on #6
Please answer the following questions to narrow down the problem:
1. Does this happen before you can select the kits to install? (i.e. when downloading meta information). Or does it happen after you already selected autoupdater in the tree
2. Did you install the "Qt Online Installers", or the offline version (for only one kit, "Windows Host" in the download section here: https://www.qt.io/download

[2017-05-09 12:25] Skycoder42 commented on #6
In case you are really using the offline installer, I do have an idea how to fix it without reinstalling Qt. I can try it if thats the case.

[2017-05-10 07:13] julian-poidevin commented on #6
Thank you for considering my problem.

1. It's happening while fetching meta info.
2. I installed Qt Offline with :  [qt-opensource-windows-x86-msvc2015-5.8.0.exe](https://download.qt.io/archive/qt/5.8/5.8.0/qt-opensource-windows-x86-msvc2015-5.8.0.exe)

I can reinstall using online tool but it would be great if your tool could work also for offline installation.

[2017-05-10 11:01] Skycoder42 commented on #6
Okay, I will try if this can be fixed by adjusting the dependencies. I won't have a windows machine until friday, so I can't test it until then. I will notify you once I'm finished

[2017-05-10 15:59] julian-poidevin commented on #6
If you want me to try, just give me the instructions, I'll be glad to help.

[2017-05-10 16:46] Skycoder42 commented on #6
Okay, I modified the autoupdater xml accordingly. Please do the following steps to test my change:
1. Remove my custom repositories, the one you added and the ones that have been added automatically. Disable the following repositories (by unchecking them in the network settings):
    - QtDataSync Windows Repository
    - QtRestClient Windows Repository
    - QtBackgroundProcess Windows Repository

[2017-05-11 07:12] julian-poidevin commented on #6
Ok, just tried following your instructions. I can now get a bit further, getting meta info and had this window prompted :
![capture2](https://cloud.githubusercontent.com/assets/8756421/25936844/a12fac4e-3629-11e7-8d14-798b7dd6c8e0.PNG)

Selected your module and clicked "Yes". At this point, update of the components fails while downloading archive for `Qt Auto Update Documentation`. I got this mess

[2017-05-11 07:33] Skycoder42 commented on #6
Okay... At least the repository works now :joy: Apparently, I have to adjust the script as well... Please check your Qt installation directory, does the folder `Docs/Qt-5.8/` exist?

[2017-05-11 10:42] julian-poidevin commented on #6
Yes, good work :wink:. The directory exists :
![docs](https://cloud.githubusercontent.com/assets/8756421/25945473/53f9408e-3647-11e7-8e5a-fe8bf7209b13.PNG)

[2017-05-11 14:14] Skycoder42 commented on #6
So, apparently this function is not defined on the maintenancetool of an offline installation. I fixed this by make the call optional. However, this means you won't see the documentation in QtCreator, unless you add it by hand (See [Qt - Adding External Documentation](https://doc.qt.io/qtcreator/creator-help.html#adding-external-documentation)). On my test machine, the rest of the installation wor

[2017-05-12 07:08] julian-poidevin commented on #6
Yup, works fine now ! Thanks a lot.

[2017-05-16 21:16] jordanbaucke opened #7 "Using Qt5AutoUpdater w/ CMake & Qt5.6"
I have attempted to add Qt5AutoUpdater to a project with CMake.

Initially, we attempted to just use source files and compile them ourselves. This appears to have some issues on MSVC, so I would prefer to just reference the compiled binaries.

I'm a relative novice with CMake, so any advice would be appreciated:

I have downloaded: [2.1.0](https://github.com/Skycoder42/QtAutoUpdater/releases/tag/2

[2017-05-16 21:52] Skycoder42 commented on #7
I'm very sorry, but I won't be of any help with cmake, because I did not create those files. I never even used cmake. I use the Qt module project structure, and it automatically generates those files as part of the deployment step. And since I don't know cmake, I cannot verify those files.

The reason they appear with 2.1.0 is, that starting there I use the Qt build system. You need to copy the wh

[2017-05-17 20:59] jordanbaucke commented on #7
@Skycoder42 ,

Thank you for the quick reply. I was able to successfully link the pre-compiled version of the libraries into my app with CMake (using `target_link_libraries`), I updated my [repo](https://github.com/jordanbaucke/qtautoupdater_cmake).

Obviously, it's a stop-gap, and libraries _should be built_ from source and _than link_ the library (but I had to get this done).

If anyone with mor

[2017-05-17 20:59] #7 closed, assigned to nobody

[2017-05-17 21:22] Skycoder42 commented on #7
I'm glad you could get it to work :) And at least since 5.8, it should be easily usable with cmake.

[2017-05-25 11:10] probonopd opened #8 "AppImage support"
Hi, would you be interested in adding AppImage support?

https://github.com/probonopd/AppImageUpdate
https://github.com/AppImage/AppImageSpec/blob/master/draft.md#update-information

@TheAssassin has been thinking about making the underlying https://github.com/probonopd/zsync-curl into a library that could eventually be consumed by a Qt updater tool like yours.

[2017-05-25 11:35] Skycoder42 commented on #8
Hi. I think this would be a nice idea, but kinda needs a complete rewrite. AutoUpdater was created especially for the Qt maintenancetool. However, since it's split up into 2 parts (core and gui), It should be possible to "seperate" them enough to make it possible to use the gui with any backend update mechanism.

I'm new to AppImage, so I don't think it would be a good idea to do this myself. Howe

[2017-05-25 11:36] probonopd commented on #8
Hi @Skycoder42 yes this makes sense. Perhaps @TheAssassin will chime in here too.

[2017-05-30 12:23] Skycoder42 commented on #8
Okay, I have been checking the code, and modifying the core library to use plugins for the actual update checks is possible. I am willing to make those changes, but it would be nice if someone would agree to create the plugin for appimage updates.

The important part here is: AutoUpdater **does not** update. Instead, it queries the updater of Qt whether there are updates, and starts it if required

[2017-05-30 15:16] probonopd commented on #8
In this case, it could query the AppImageUpdate tool

I think that would be the way to go. We will change our tools to be libraries that could be easily consumed from a Qt application.

Not needed. AppImageUpdate can update a running AppImage, even if AppImageUpdate itself is contained within the same AppImage. So it can "update itself".

@TheAssassin or I will ping you once we have something usab

[2017-05-30 18:09] TheAssassin commented on #8
TheAssassin "chiming in".

Yes, I plan to make zsync_curl a library. But to make that maintainable, we should rewrite zsync_curl based on the existing C libraries, as the current code is buggy and... yep, weird appears to be the right word to describe it.

I'd like to rewrite zsync_curl in C++, and make that a library by default. Then, I'd write multiple programs that rely on that library:

  * zs

[2017-07-15 18:04] Skycoder42 commented on #6
Repopening this. Apparently, it does influence the online installer: If not present, the Auto-Dependencies are installed automatically, thus forcing you to install all compilers I provide the module for. Thus I reverted this. The offline installer will fail again, but you can still simply download the bundle from the release pages, if the online installer is no option.

I'll do further investigati

[2017-08-26 16:09] Skycoder42 commented on #8
Hi,

I create a new branch, [plg_refactor](https://github.com/Skycoder42/QtAutoUpdater/tree/plg_refactor). This branch contains a refactored updater library based on plugins. You can now fork/clone it to create a plugin for an appimage updater.

The new code is documented, but not published yet, you can create it by running `qmake && make doxygen`. You will need python 3 and doxygen installed.

To

[2017-10-19 06:18] checor opened #9 "Spanish support"
Hello!

Your library is cool, and I'm intending to implement it in one of my projects 👍

I can provide you a spanish translation, are you interested in adding it to your repo? I can send a pull request.

Cheers!

[2017-10-19 15:11] Skycoder42 commented on #9
Of course, feel free to do so! This way it will also become available to anyone using the online repository with the next version. :+1:

[2017-10-19 19:33] SmathiLagui opened #10 "QtAutoUpdater"
Hello,

Your module QtAutoUpdater is so amazing but I have some trouble with it.
I'm working on an app with your module, on your Wiki page for the **"**UpdateController**"** section it's said : "_This example is reduced! for a full example with all parts of the controller, check the Tests/WidgetsTest application._" but the **"**WidgetsTest**"** folder doesn't exist.
I also try to use this module i

[2017-10-20 09:45] Skycoder42 commented on #10
Sorry about that one, seems I didn't update the path in the documentation. It is located in: https://github.com/Skycoder42/QtAutoUpdater/tree/master/examples/autoupdatergui/WidgetsUpdater.

Have a look at that example maybe you can see what you missing. If not, please post some code (or the link to your repository), so I can have a look at it. Not shure what you mean by "in another class".

[2017-10-20 22:19] SmathiLagui commented on #10
Thank you for the answer. For "in another class" I wanted to put a an update button in a QWidget, not in the main.cpp, but now with your example, everything is good now.
Thank you !
Alex

[2017-10-20 22:19] #10 closed, assigned to nobody

[2017-10-25 18:32] bernhardHartleb opened #12 "dialogmaster.h: No such file or directory"
Trying to follow the instructions in the README, the library does currently not build:

To replicate:
git clone https://github.com/Skycoder42/QtAutoUpdater.git
cd QtAutoUpdater
qmake
make qmake_all
make

I am using Qt 5.9.2 and the Qt IFW 3.0. According to the documentation, no additional tools or dependencies should be required for the build.

Please let us know what is missing. Thanks!

[2017-10-25 19:56] Skycoder42 commented on #12
My bad, you do indeed need another tool, [qpm](https://github.com/Cutehacks/qpm). Install it and run `qpm install` in the 3rdparty folder. The full commands would be:

[code]

This should fix the problem. I will update the README accordingly

[2017-11-18 12:07] #12 closed, assigned to Skycoder42

[2017-11-22 14:46] SmathiLagui opened #13 "Show negative update result on start"
Is there a way to check for updates at the launch of the application and notify user? If there no update, there is no notification.

[2017-11-22 17:04] Skycoder42 commented on #13
Have a look at [`QtAutoUpdater::Updater::DisplayLevel`](https://skycoder42.github.io/QtAutoUpdater/class_qt_auto_updater_1_1_update_controller.html#a3c3df76116942329e05f639e60bbf5a2). All you need to do is to pass the level you want to the start method.

If want for for example all info dialogs (even no updates), but no progress, use `start(QtAutoUpdater::Updater::ExtendedInfoLevel)` Check the [Ex

[2017-11-24 18:20] #13 closed, assigned to nobody

[2017-12-29 16:53] antony-jr commented on #8
Hey @TheAssassin @probonopd you can check my project , it can update AppImages **directly** from GitHub Releases ( for now it does not use zsync , just raw copy! ). Whenever you draft a new release the appImage(old) that is downloaded all over world gets a signal! and thus gets updated

Try this , [AppImage](https://raw.githubusercontent.com/antony-jr/AppImageUpdate/master/AppImageUpdate.AppImage)

[2017-12-29 17:59] probonopd commented on #8
(moved to https://github.com/antony-jr/GHReleaseBridge/issues/1)

[2017-12-29 18:02] Skycoder42 commented on #8
@antony-jr Interesting project, but it has nothing to do with QtAutoUpdater. Please post your comment at the linuxdeployqt or AppImage repositories instead. I will delete the comment in a few days as, once again, this his nothing todo with neither the library nor this issue.

[2017-12-29 19:26] antony-jr commented on #8
[moved to #14]

[2017-12-29 20:43] Skycoder42 commented on #8
@antony-jr It does sound interesting, please create a seperate issue for that (in this repository). I will investiagte it and might add it as an alternative.

I just want to keep my issues clean ;)

[2017-12-29 20:44] antony-jr commented on #8
got it!

[2018-01-02 12:05] Skycoder42 opened #14 "Support QInstallerBridge"
**I thought** that the other project might interest you about auto updating qt projects with a clean api -> [QInstallerBridge](https://antony-jr.github.io/QInstallerBridge)

[moved from #8]

[2018-01-02 12:06] Skycoder42 commented on #14
Blocked until https://github.com/antony-jr/QInstallerBridge/issues/1 has been fixed

[2018-02-14 20:11] antony-jr commented on #14
well I never said this is a support , Its an alternative to your project where you do the same updating without the **maintainance tool** and **QProcess**. ( Only the configuration file [ Created by the installer ] which points to the remote repo created by repogen ). It actually provides you a alternative core for your updater... Take a look here https://antony-jr.github.io/QInstallerBridge/docs/

[2018-12-17 09:52] nikishyn opened #18 "Unknown module(s) in QT: autoupdatercore (Qt 5.12.0 x86 compiler MSVC 2017)"
Hi.
In my application I decided to update the kit Qt and the compiler.
After upgrading Qt and installing Skycoder42 Qt modules with the **QT kit 5.12.0 MSVC 2017 x32** received an error Unknown module (s) in QT: autoupdatercore.
I do not see Qt5AutoUpdaterCore.dll in path C: \ Qt \ 5.12.0 \ msvc2017 \ bin

Please give me advice on how to fix the problem.

[2018-12-17 10:55] Skycoder42 commented on #18
The reason is that beginning with a few Qt-Versions ago, Qt only shipped the x64 version of MSVC 2017. Thus I had to remove the builds as well. It seems 32 bit support has been readded with Qt 5.12 (See [QTBUG-63708](https://bugreports.qt.io/browse/QTBUG-63708)). So currently there is no prebuilt binary to be installed.

I would recommend you to switch to the x64 Version if possible. If thats not

[2018-12-17 10:57] Skycoder42 commented on #6
A solution seems to be impossible for now. Closing in favor of the online installer.

[2018-12-17 10:57] #6 closed, assigned to Skycoder42

[2018-12-17 12:12] nikishyn commented on #18
Thanks for the answer. Waiting for a version in maintenancetool .

[2018-12-19 10:15] Skycoder42 commented on #18
I just uploaded the packages to my server. Please try if it now works for you. To do so, you must reinstall the package. First uncheck the module and *complete* the install to remove the documentation and examples. Then restart the Maintenancetool and install the module again. The installer should automatically detect the new binaries and install them.

[2018-12-21 09:14] nikishyn commented on #18
Hi.
I removed all components "Skycoder42 Qt modules", then restart Maintenancetool  and install Skycoder42 Qt modules 5.10.0  and 5.12.0 for MSVC2017. But component ver. 5.12.0 MSVC installed without updater module. I attached a log file when installing components. Maybe it will be useful
[Installation Details.txt](https://github.com/Skycoder42/QtAutoUpdater/files/2702197/Installation.Details.txt)

[2018-12-21 09:46] Skycoder42 commented on #18
Based on the logs, it did install. Please check if you can find the files listed [here](https://github.com/Skycoder42/QtAutoUpdater/files/2702276/Installation.Details.txt).

If yes, try to delete the build folder of your project and compile the project again. On windows, qmake often fails to pick up changes outside the build directory, so QtCreator propably just assumed nothing changed it did not

[2018-12-21 13:46] nikishyn commented on #18
After installing the module - there are no libraries in the bin folder.
I attached a file list in dir  C:\Qt\5.12.0\msvc2017\bin

[AutuUpd.txt](https://github.com/Skycoder42/QtAutoUpdater/files/2702967/AutuUpd.txt)

[2018-12-21 19:05] Skycoder42 commented on #18
Thats strange. I just did a clean install on a clean virtual machine and it does work as expected. The libraries are installed as they should be.

Whatever the problem is, it is unrelated to this library. My guess is your Qt installation somehow got corrupted. Try to *completely* uninstall Qt and install everything from scratch again. I will close this issue now, as the original problem has been f

[2018-12-21 19:05] #18 closed, assigned to Skycoder42

[2018-12-30 13:45] CHTUZKI opened #19 "About the installation and use of QtAutoUpdater"
Hello, I found this library a few days ago. When I read your document, you wrote in "Download/Install" that you can download compiled files, but I didn't find it. Can you tell me where it is?

[2018-12-30 14:23] Skycoder42 commented on #19
https://github.com/Skycoder42/QtAutoUpdater/releases

[2018-12-30 14:23] #19 closed, assigned to nobody

[2019-01-25 07:40] rmuchall opened #20 "Unable to connect to repository"
Unfortunately I am unable to connect to your repository:
Failed to connect to install.skycoder42.de port 443: Connection refused

Many thanks for your library! :)

[2019-01-25 08:13] rmuchall commented on #20
This is resolved now - perhaps it was just a temporary outage or routing issue.
Thanks! :)

[2019-01-25 08:13] #20 closed, assigned to nobody

[2019-04-02 05:32] ghost opened #22 "In X11, use pkexec instead kdesu / gksu"
[pkexec](https://www.freedesktop.org/software/polkit/docs/0.105/pkexec.1.html) is a part of [polkit](https://freedesktop.org/wiki/Software/polkit/), it's available on Linux / BSD. And it's default privileges authorize frontend.

[2019-04-02 08:34] Skycoder42 commented on #22
That sounds like a good idea. However, as I just tried this command out, it failed to start any Qt application with the following errors:

[code]

After a little reseach, I found this post: https://askubuntu.com/questions/287845/how-to-configure-pkexec Apparently, we need to pass a few command line arguments to make it work. (And a quick test actually shows it working).

Do you know of any other p

[2019-04-03 04:45] ghost commented on #22
@Skycoder42 I am not sure about that, but I suggest you make the `adminauthorization` as a shared library.

[2019-05-08 06:40] stephenxin opened #23 "I can't find Qt Auto Updater modules from "Select Components" page (Duplicates #6)"
Sorry,but I can't find Qt Auto Updater modules from "Select Components" page.
I do as this page told,https://github.com/Skycoder42/QtModules/blob/master/README.md#add-my-repositories-to-qt-maintenancetool.
but only qt modules appeared,is it avaliable with qt5.12.3 on windows.
Can you help,thanks.

[2019-05-08 07:27] Skycoder42 commented on #23
Is the Qt Modules empty? (I.e. can you see the little triangle next to the checkbox?) If yes, try expading it, maybe you just don't see the entry yet.

It could also be just a visual bug. Try selecting the modules and continue with the installation. Maybe the Module will be automatically installed without you having to see it.

Please post a screenshot of what you just described, so I can see what

[2019-05-09 10:03] stephenxin commented on #23
Sorry for delayed reply.
![Image](https://user-images.githubusercontent.com/22423650/57445245-825ea100-7284-11e9-9224-465bda2553cd.png)
![Image](https://user-images.githubusercontent.com/22423650/57445262-8a1e4580-7284-11e9-8483-d25deb198dee.png)
![Image](https://user-images.githubusercontent.com/22423650/57445282-8ee2f980-7284-11e9-8126-334b470451d4.png)

[2019-05-09 14:19] Skycoder42 commented on #23
Ah you are using the offline installer! This is not supported, because the offline installer does not know about many components and thus fails to resolve (as you can see in the error message) See https://github.com/Skycoder42/QtAutoUpdater/issues/6#issuecomment-315551672.

However, due to recent changes in my archtiecture it might still be possible.

Please try to add the following URL under "use

[2019-05-09 15:02] stephenxin commented on #23
Hi，thanks for help,I tried, but it seems nothing has changed. What am I missing?And sorry, I don't know what does “Remove my custom repositories”mean in another issue you show.
![test](https://user-images.githubusercontent.com/22423650/57463550-92d74180-72ad-11e9-94ed-1ed4b7ea90b3.png)

[2019-05-09 15:39] Skycoder42 commented on #23
Okay, so it seems it is still impossible to get this to work with the offline installer... I am afraid you have to either switch to the online installer or directly download the binaries from the releases. Your call.

I am aware that this is very inconvenient, but I can't do anything about this, it's a shortcoming of the Qt maintenancetool itself... I will close the issue as unfixable, but if you

[2019-05-09 15:39] #23 closed, assigned to Skycoder42

[2019-05-10 03:20] stephenxin commented on #23
I reinstalled Qt with your repository,and now it works,thanks so mush.And I wonder if we can customize MaintenanceTool so that main program can restart after update finished.

[2019-05-10 13:23] Skycoder42 commented on #23
Perfect. Regarding the restarting, see the `<RunProgram>` element of the configuration file: https://doc.qt.io/qtinstallerframework/ifw-globalconfig.html

[2019-05-11 01:34] stephenxin commented on #23
Got it,thank you!

[2019-05-22 16:25] IQ-raf opened #24 "qtautoupdater not included when building qt statically on Mac"
I am using qtautupdater in one of my apps, I need to build the app (and Qt) statically for release. It works perfectly fine on windows, but when I try to build qt statically on my Mac it never includes the qtautoupdater library. I can build my app fine when I use the non-static version of qt (where I originally added QtAutoUpdater).

Is there some extra steps I need to take to include this library

[2019-05-22 17:16] Skycoder42 commented on #24
Please check the following steps to find out where the library gets lost

1. When building statically, the library file should be generated. Can you find this file in the build folder of QtAutoUpdater
2. Do you install the static Qt? If yes, check if the library was copied to the install location
3. Finally, when building your app, is the library added to the linker line in the makefile

[2019-05-23 00:05] IQ-raf commented on #24
I do have the library files where qtautoupdater is built, here are the files in this lib folder:
cmake
libQt5AutoUpdaterCore_debug.la
libQt5AutoUpdaterCore.la
libQt5AutoUpdaterCore_debug.prl
libQt5AutoUpdaterCore.prl
pkgconfig

But I don't see those libraries in the place where I installed the static version of Qt

should I just manually drag and drop them there ?

[2019-05-23 05:44] Skycoder42 commented on #24
Did you run `make install` after compiling the library? If not, do so. If yes, please copy the file `src/autoupdatercore/Makefile` (and if existant `src/autoupdatercore/Makefile.Release`) from the build folder and upload them here, so I can check, why those were not installed.

(And yes, as a workaround, you can indeed just copy them, but that won't solve the undelying issue...)

[2019-05-23 21:24] dskart commented on #24
So I configure Qt with `src/configure -static -release -prefix "pathtofolder/static"`
Then I run `make` and `make install`
every other library is built and installed correctly in the "pathtofolder/static" but not the qtautoupdater library. It doesn't even seem to be built (no lib folder is created in src/qtautoupdater).

I then run `qmake` `make` and `make install` inside of `src/autoupdater`. The

[2019-05-23 21:34] IQ-raf commented on #24
The comment above was me, sorry I forgot to change users on github.

[2019-05-24 07:35] Skycoder42 commented on #24
The reason why QtAutoUpdater is not build automatically from toplevel is that Qt does not know about the module. You would have to edit the `.gitmodules` files before running configure to include it. Running manually however normally works.

Now, the Makefile you gave me is the wrong one. You gave me the one in the `Src/qtautoupdater` folder, I need the one in `Src/qtautoupdater/src/autoupdater`.

[2019-05-24 15:58] IQ-raf commented on #24
That is super weird that At does not know about the module, I downloaded it from Qt's maintenance tool and did not have any issue on windows.

here is the make file from `Src/qtautoupdater/src` (that was the only path that had a makefile) and I also have the log of when I run `make install` from `Src/qtautoupdater`
[Makefile.txt](https://github.com/Skycoder42/QtAutoUpdater/files/3217690/Makefile.t

[2019-05-24 16:07] Skycoder42 commented on #24
Analysing the log, we get the following error:
[code]
So apparently you have no permission to install the library in `/usr/local` - try `sudo make install` instead.

[2019-05-24 16:14] IQ-raf commented on #24
Oh wow, that is a stupid error from my part and that makes a lot of sense. So now it got built and installed in `usr/loca/Qt-5.12.1/lib`. Is there any way I can install it in a different location such as `PathToStaticQt/Static`.  Basically, do the same thing as the `-prefix` argument when I configure Qt to be built statically.

[2019-05-24 16:35] Skycoder42 commented on #24
Normally, qmake should pick up the prefix automatically. I.e. if you compile with Qt with `-prefix PathToStaticQt/Static`, the the library should be installed to the very same location. Make shure you use the correct qmake (e.g. `PathToStaticQt/Static/bin/qmake`, but then that should be the case.

Note: I looked at the makefile you uploaded, and it says `QMAKE = /usr/local/Qt-5.12.1/bin/qmake` - w

[2019-05-24 17:50] IQ-raf commented on #24
This is amazing, it finally worked. Thanks a lot for your patience and help. This library is amazing and saved me a ridiculous amount of time and work!

[2019-05-24 19:13] Skycoder42 commented on #24
Perfekt! Always happy to help

[2019-05-24 19:13] #24 closed, assigned to Skycoder42

[2019-06-11 20:04] IQ-raf opened #25 "Can't find MaintenanceTool path for Mac"
When passing the maintenancetool path to
`QtAutoupdater::UpdateController("path/maintenancetool.app", qApp)`
The application crashes when the update button is clicked.

It works fine on windows with the following:
`QtAutoupdater::UpdateController("path/maintenancetool.exe", qApp)`

What should the path be like on mac? I cannot find an example (but I might just be bad at searching)

[2019-06-11 20:49] IQ-raf commented on #25
I have been debugging this issue more, and I set up
`controller = new QtAutoupdater::UpdateController("path/maintenancetool.app", qApp)`
correctly, but when I click on my update button which triggers :
`controller->start(QtAutoupdater::UpdateController::ProgressLevel)`
the whole app crashes,

again this works fine on windows but not on Mac.

I also make sure that `setDetaledUpdateInfo()` is set to

[2019-06-11 21:35] IQ-raf commented on #25
It still crashes when I use the `createUpdateAction()` method for your information (still on Mac)

[2019-06-12 07:37] RichardLee111 opened #26 "inc"

[2019-06-12 07:37] #26 closed, assigned to nobody

[2019-06-12 07:39] Skycoder42 commented on #25
Please add the following line to your code and investiage the created path:
[code]
Check if the detected path is valid and does point to the primary executable within the app bundle. You can, for example, use the `file` command to verify this. Also try to start the returned path directly, e.g. from the console to see if that work. Report your results here, so we can find out what is going on.

Als

[2019-06-12 16:11] IQ-raf commented on #25
The detected path is correct, so this is not the reason that it crashes like I initially thought.
this is the output of the qDebug()
`./maintenancetool.app/Contents/MacOS/maintenancetool`

here is the the stacktrace (I think this is what you want, if not let me know)
[stacktrace.txt](https://github.com/Skycoder42/QtAutoUpdater/files/3282229/stacktrace.txt)

I don't really know how/what you mean by

[2019-06-12 16:37] Skycoder42 commented on #25
I might have located the error, the taskbar in [updatecontroller.cpp#L172](https://github.com/Skycoder42/QtAutoUpdater/blob/master/src/autoupdatergui/updatecontroller.cpp#L172) is null, because you created the updater without a window. This is indeed a bug! I will implement a fix ASAP, so you can try out if that makes it work again.

[2019-06-12 16:38] #25 closed, assigned to Skycoder42

[2019-06-13 16:02] IQ-raf commented on #25
thanks a lot ! do you know an approximate timeline for this bug fix so I can my work, I love your library and I would hate to have to do a quick hackyfix/use something else.

also why does it work in windows even when the taskbar is null ?

[2019-06-13 17:50] Skycoder42 commented on #25
Please clone the latest master branch and build the library yourself to verify this actually fixed the issue. The next release will probably be shortly after Qt 5.13 gets released.

Regarding windows: Honestly, I have no clue. Either there is something separate going on, or I did not correctly identify the bug. That's why I need you to test it. I currently have no macOs system available, so I can'

[2019-06-18 16:25] IQ-raf opened #27 "Building QtAutoupdater from source"
Hey, I am trying to build the latest commit of the QtAutoupdater to check if the latest fix works on Mac, build after downloading the source files from the release page and running `qmake` I get this error:
`
/usr/local/Qt-5.12.1/mkspecs/features/qt_build_config.prf:47: shadowed(path) requires one argument.
`

I can seem to be able to run `qmake`, I also tried rerunning `qdep` but that didn't fix

[2019-06-18 16:52] Skycoder42 commented on #27
Thats strange. It seems some path is missing somewhere. Please uncomment the `load(qdep)`line and run qmake again. The project cannot be built that way, but at least we can find out, where the error lies. If it does not appear again, please tell me, so I can follow up with further steps

[2019-06-18 17:13] IQ-raf commented on #27
I have a new error now, it happens when I run qmake in `qtautoupdater/src`
`
Cannot read /Users/iqinetics/Qt/5.12.1/Src/qtautoupdater/mkspecs/modules-inst/qt_lib_autoupdatercore.pri: No such file or directory`

`Cannot read /Users/iqinetics/Qt/5.12.1/Src/qtautoupdater/mkspecs/modules-inst/qt_lib_autoupdatercore_private.pri: No such file or directory`

`Cannot read /Users/iqinetics/Qt/5.12.1/Src/qt

[2019-06-18 17:18] IQ-raf commented on #27
ok changing `load(qt_parts)` with `load(qdeb)` fixed the first shadowing issue, but I still have the

`Cannot read /Users/iqinetics/Qt/5.12.1/Src/qtautoupdater/mkspecs/modules-inst/qt_lib_autoupdatercore.pri: No such file or directory`
`Cannot read /Users/iqinetics/Qt/5.12.1/Src/qtautoupdater/mkspecs/modules-inst/qt_lib_autoupdatercore_private.pri: No such file or directory`
`Cannot read /Users/iq

[2019-06-19 07:47] Skycoder42 commented on #27
you have to run `qmake` on the top level directory. I meant to change the `load(qdep)...` in `src/autoupdatercore/autoupdatercore.pro` and `src/autoupdatergui/autoupdatergui.pro`. Try to change those and then run `qmake` on toplevel again.

[2019-06-19 18:23] IQ-raf commented on #27
in ` src/autoupdatercore/autoupdatercore.pro` and ` src/autoupdatergui/autoupdatergui.pro` there is only this line related to `qdeb`:
`!load(qdep):error("Failed to load qdep feature! Run 'qdep prfgen --qmake $$QMAKE_QMAKE' to create it.")`

I tried commenting it, uncommenting it, deleting the `!`, but I still get the same error.
`Cannot read /Users/iqinetics/Qt/5.12.1/Src/qtautoupdater/mkspecs/mod

[2019-06-19 19:10] Skycoder42 commented on #27
Thats strange. I have never seen such an error. The thing is: on my CI-systems, it works without any of these errors, i.e. I cannot reproduce the error and thus not fix it...

[2019-06-20 19:52] IQ-raf commented on #27
Hey, I don't know why I couldn't build, but I ended up just copying your changes in your commit to the qtautoupdater folder inside Qt/Src.

then I built from there and it fixed all my issues (even the mac updater one).

thanks again for your help !

[2019-06-20 22:44] Skycoder42 commented on #27
Perfect! I will close this issue as unresolved, since the problem with build was not really resolved... Still, since your problem was resolved, I consider this done.

[2019-06-20 22:44] #27 closed, assigned to Skycoder42

[2019-07-17 19:42] abdullah-radwan opened #28 "Arabic support"
Hello,
I've translated the library to Arabic to use with my project. [Here is the translation file](https://github.com/Skycoder42/QtAutoUpdater/files/3403545/translations.zip).

[2019-09-07 07:48] abdullah-radwan commented on #28
Here is an updated translation: [qtautoupdatergui_ar.zip](https://github.com/Skycoder42/QtAutoUpdater/files/3586388/qtautoupdatergui_ar.zip)

[2019-09-08 12:29] Skycoder42 commented on #28
I am currently working on Version 3.0 of the library. I will add the translations, but it would be nice if you could update them once again as soon as 3.0 gets released. Thanks for your contribution.

Note: It's always faster and easier for me, if you do such contributions via a pull-request.

[2019-09-23 13:00] Skycoder42 commented on #28
The translations have been updated on the [major branch](https://github.com/Skycoder42/QtAutoUpdater/tree/major/src/translations). It was auto-translated using https://www.matecat.com/. It would be awesome if you could verify the correctness of the generated translations. Thanks.

[2019-09-23 13:00] Skycoder42 commented on #9
The translations have been updated on the [major branch](https://github.com/Skycoder42/QtAutoUpdater/tree/major/src/translations). It was auto-translated using https://www.matecat.com/. It would be awesome if you could verify the correctness of the generated translations. Thanks.

[2019-09-23 22:02] checor commented on #9
Of course, seems that some messages needs grammar corrections. I will check it out in the week.

[2019-10-06 11:30] abdullah-radwan commented on #28
Sorry for the delay. Here is the updated translation:  [qtautoupdater_ar.zip](https://github.com/Skycoder42/QtAutoUpdater/files/3694285/qtautoupdater_ar.zip)

I can say the auto translator is 50-60% good.

[2019-10-06 14:17] #28 closed, assigned to Skycoder42

[2019-10-12 16:06] abdullah-radwan opened #30 "Build for Qt LTS, and source code can't be built"
Please provide builds for Qt LTS versions, or don't make the versions work only on the Qt release it's built on.

I tried to build the current master source on MinGW32 7.3 on Windows 10, but it always fails with over 40+ errors, all related to source code itself (functions that don't exist, files not being included correctly, etc). I want to use the latest release on my program, but I can't build

[2019-10-14 05:24] Skycoder42 commented on #30
Sorry, but in order to be able to use the latest features of Qt, the current release will always work only for the latest Qt release. For the LTS versions of Qt, I do maintain the last version that worked on them and rebuild and re-release them via the [QtModules-LTS](https://github.com/Skycoder42/QtModules-LTS/releases) repository.

I can't support older versions, as some features in the current

[2019-10-24 08:19] #30 closed, assigned to nobody

[2019-10-26 15:08] abdullah-radwan opened #31 "QtAutoUpdater::Updater::create returns NULL on the release configuration"
I've noticed that QtAutoUpdater::Updater::create method works on the debug configuration, but returns NULL on the release configuration. No errors in the log (I've installed a message handler, so any messages by AutoUpdater should be written in the log).

Code:
[code]
Log file: `QObject::connect(QtAutoUpdater::Updater, Unknown): invalid null parameter`. This error is because `updater` is NULL. No

[2019-10-27 14:21] Skycoder42 commented on #31
Verify interesting. That should not happen, as I test both debug and release configration with the CI system. I will try to reproduce your problem tomorrow.

Until then, could you check the contents of the `<Qt-Install-Dir>\5.13.1\<platform>\plugins\updaters` directory and see if it contains both, the `qtifw.dll` and the `qtifwd.dll`?

[2019-10-27 15:08] abdullah-radwan commented on #31
That's it! I use `windeployqt` tool to get DLLs for Windows, and it doesn't include `qtifw.dll`. After adding to the release version DLLs, it worked.

So this is the file structure:
[code]

[2019-10-27 15:08] #31 closed, assigned to Skycoder42

[2019-10-27 20:47] Skycoder42 commented on #31
Perfekt. That is true. windeployqt sadly does not pick up additional plugins...

[2019-11-30 10:25] fengcanyue opened #32 "How should I check for updates with a temporary repository?"
I want to use this feature in my code:"maintenancetool.exe --addTempRepository http://192.168.1.143:8080/repository". But I don't know how to use you  library to do this.I found something like this " { {"extraCheckArgs", "someArg=tree"} } ",maybe it'll work.Could you give some advice?Thank you very much.

[2019-11-30 13:28] Skycoder42 commented on #32
That's exactly what you need to do. I would show you the documentation, but apparently I forgot to upload it to github pages... I will do so soon.

Use the `extraCheckArgs` as extra configuration value, e.g. In the constructor, where you specify the `path` as well.

If you use the feature to start the installation as well, use the same value for `extraInstallArgs`

[2019-12-02 01:06] fengcanyue commented on #32
就没了你9你几句话哦平均o9hnk线佛人那好呀@Skycoder42

[2019-12-02 06:15] fengcanyue commented on #32
` auto updater = QtAutoUpdater::Updater::create(QStringLiteral("qtifw"), {
            {"path", "E:\\Qt\\Qt5.13.1\\MaintenanceTool.exe"}, {"extraCheckArgs", "--addTempRepository=http://192.168.1.143:8080/repository/Msetp-teacher"}
        }, qApp);`
I use this code,but get the error message ,`Cannot retrieve remote tree No package sources set for this application..`,

[2019-12-02 08:09] Skycoder42 commented on #32
This looks like a problem with the Qt installer framework, not the library. Please try to manually invoke the maintenance tool as:
[code]
And check the output. If you get the same error, than it's not a problem of the library, but QtIFW. If it works like that, try to enable debug logging, it might help to find out more. You can do so by setting the following environment variable:
[code]
**EDIT:**

[2019-12-02 08:50] fengcanyue commented on #32
Yes.I am using the offline installer.My online repository IP changes all the time, but my Qt application know it. So,I want to use temp repository to check updates.Now ,I down konw how to do.Could you give some advice?

[2019-12-02 08:54] Skycoder42 commented on #32
As far as I know, it is not possible to do updates via the offline installer. It is offline, after all. Have you tried to run it by hand?

[2019-12-02 10:04] fengcanyue commented on #32
I've tried to run it by hand.It displays the same error message:`[0] Operations sanity check succeeded.
[1] Cannot retrieve remote tree No package sources set for this application..`.But I can check updates via the offline installer with gui interface. also use the temp repository.It  let me very confused.

[2019-12-02 10:52] Skycoder42 commented on #32
Well, there is nothing I can do in this case. I do not know why it works via the GUI but not via the `--checkupdates`. That mode is required for the plugin, as otherwise there is no usable output to get update information from.

You should create an issue regarding that problem at [bugreports.qt.io](https://bugreports.qt.io/secure/Dashboard.jspa). If you do so, please post a link here.

I will clo

[2019-12-02 10:52] #32 closed, assigned to Skycoder42

[2020-06-04 08:55] stlfatboy opened #33 "plz release a build for 5.15"
huuuuuge thx

[2020-06-29 15:16] denisiussion commented on #33
Really need it for Qt 5.15 as well.

[2020-06-30 05:20] Skycoder42 commented on #33
Working on it. 5.15 change a few things, so I need to adjust my CI. Should be ready soon...

[2020-07-08 14:46] stlfatboy commented on #33
Is it possible to add a build for msvc2015 x64?

[2020-07-08 17:39] Skycoder42 commented on #33
I only develop my libraries for the latest compiler and Qt versions. Once Qt fixes msvc2017, I will provide builds for those as well, but 2015 is to old and thus not officially supported.

[2020-07-27 09:35] romanmatv commented on #33
Build for MSVC 2019 32&64 bit [builded-5.15.0.7z](https://yadi.sk/d/CVo7vu622XzgXg)

[2020-09-14 10:59] Czujackt commented on #33
I can't build the QtAutoUpdater for 5.15.1:
fatal error: 'QtAutoUpdaterCore/qtautoupdatercore_global.h' file not found

[2020-09-15 12:27] T-640 opened #34 "Replace remnants of TQtC-licensed code"
Hello!

I want to statically link my commercial program with QtAutoUpdater. Given that this library is BSD-licensed this is acceptable. However, there are remnants of code borrowed from the earlier version of Qt Installer Framework in "adminauthoriser_" files. Their code is dual-licensed under LGPL or commercial license. As far as I understand this practically means that despite your work being BS

[2020-10-12 11:08] romanmatv commented on #33
Build for 5.15.1 MSVC 2019 32&64 bit [QtAutoUpdater-5.15.1.7z](https://yadi.sk/d/kzHw48vUKZ1AKg)

[2020-11-27 13:36] romanmatv commented on #33
Build for 5.15.2 MSVC 2019 32&64 bit [QtAutoUpdater-5.15.2.7z](https://yadi.sk/d/hdJgI-6FjUzJAA)

[2021-01-20 11:53] gg-vara opened #35 "[Qt6] Use CMake"
As you may know, the Qt team has changed their policy regarding building tools, and went for CMake instead of their very own `qmake` for Qt6 (https://www.qt.io/blog/qt-6-build-system).

@Skycoder42, are you yourself familiar with CMake ? Would you consider maintaining CMake building scripts in parallel of `qmake` ones ?

Cheers !

[2021-03-04 15:48] Tex-Tang opened #36 "Can't build for Qt 5.14.2"
Hi, I'm using msvc2017 32bit and Qt 5.14.2 to build my application. However I can't include QtAutoUpdater in my project.

![image](https://user-images.githubusercontent.com/14901260/109989669-adf92800-7d43-11eb-916f-4d824236f8c6.png)

[2021-03-21 16:36] denisiussion commented on #33
sorry, any success to release 5.15.x version?

[2021-04-06 03:27] bookshiyi commented on #33
Hi,  @romanmatv @Skycoder42 ,build for Qt5.15.2 by MingW will be suppoerted?

Thanks.

[2021-06-25 04:33] romanmatv commented on #33
Build for 5.15.2 MinGW 8.1 32&64 bit [QtAutoUpdater-5.15.2-mingw.7z](https://yadi.sk/d/w1kM64uiENWWUw)

[2021-09-23 01:20] denisiussion commented on #33
Any progress?